/* Colors */
:root {
  --background-color: #04060e;
  --text-color: #f0f0f0;
  --secondary-text-color: #e2e2e2;
  --link-color: #555;
  --container-background: #000;
  --container-text: #fff;
  --border-color: #ddd;
}


/* General resets */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Container */
.container {
  max-width: 1400px; /* Changed from 1200px to 700px */
  margin: 0 auto;
  padding: 0 20px;
}

/* Hero Section */
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding: 40px 0;
}

.hero-title {
  font-size: 70px; /* Increased font-size */
  font-weight: bold;
}

.hero-description {
  font-size: 18px;
  margin-top: 20px;
  color: var(--secondary-text-color);
  max-width: 500px;
}

.hero-image-container img {
  max-width: 100%;
  border-radius: 8px;
}

.hero-links a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.hero-links a:hover {
  background-color: #eee;
}
/* Features Section */
.features-header {
  margin-top: 40px;
  text-align: center;
}

.features-title {
  font-size: 38px; /* Increased font-size */
  font-weight: bold;
}

.features-subtitle {
  font-size: 28px; /* Increased font-size */
  margin-top: 10px;
  color: var(--secondary-text-color);
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px; /* Increased gap between feature cards */
  margin: 40px;
}

.feature-item {
  margin: 10px;
  padding: 20px;
}

.feature-title {
  font-size: 24px; /* Increased font-size */
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 16px;
  color: var(--secondary-text-color);
}

/* CTA */
.cta-container {
  text-align: center;
  background-color: var(--container-background);
  color: var(--container-text);
  padding: 60px 0;
  border-radius: 8px;
}

.cta-title {
  font-size: 44px; /* Increased font-size */
}

.cta-description {
  font-size: 28px; /* Increased font-size */
  margin-top: 20px;
}

.cta-link-container {
  margin-top: 30px;
}

/* Link Component */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-color);
}
